<!DOCTYPE html>
<html>
<head>
    <title>Developer</title>

</head>
   <p><hr/></p>
    <div>
    <form ENCTYPE="multipart/form-data" method="post" action='/service/uploadDeveloper'>
    <input name="file" type="file"/>
    <br>
    Worldcode: <input type="text" name="worldcode">
    <br>
    Item: <input name="item" type="text">
    <br>
    Attribute: <input name="attribute" type="text">
    <br>
    AttributeToken: <input name="attributeToken" type="text">
    <br>
    stacked: <input name="stacked" type="text">
    <br>
    <input type="submit" value="upload"/></form>
    </div>
    <p><hr/></p>


    <textarea rows="20" cols="100">
        %s
    </textarea>

<body>

</body>
</html>